$badges-font-size:150%;





.ledControl{
    margin:10%;
}

.smartHome{
    button{
        
        font-size:$badges-font-size;
        .badge{
            
            font-size:70%;
        }
    }
    
}

